{
  "root": true,
  "env": {
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/no-v-for-template-key": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error", { "functions": false, "typedefs": false }]
  }
}
